@media (max-width: 360px) {
    .header__title {
        margin-top: 0px;
    }
}

@media (max-width: 540px) {
    .header__title {
        font-size: 36px;
    }
}


@media (max-width: 560px) {
    .card--wide {
        grid-template-columns: 1fr;
    }
}




@media (max-width: 760px) {
    .footer__row {
        grid-template-columns: 1fr;
    }

    
}



@media (max-width: 920px) {
    .header__title {
        margin-top: 40px;
    }

    .header__button {
        margin-bottom: 30px;
    }
}
    



@media (max-width: 1040px) {
    .form {
        width: auto;
        height: auto;
        flex-direction: column;
        display: block;
    }

    .button--search {
        width: 100%;
    }

    .form__input-wrapper {
        width: 100%;
    }

    .easepick-wrapper {
        z-index: 9999;
    }

    .autoComplete_wrapper > input {
        width: auto !important;
    }

    .section__cards--tips {
        grid-template-columns: 1fr;
    }


}


@media (max-width: 1186px) {
    .nav-list {
        display: none;
    }

    .nav__user {
        display: none;
    }

    .mobile-nav-btn {
        display: block;
    }
    
    .container--header {
        align-items:normal;
    }

    
    
    .footer__subs {
        grid-column-start: 1;
        grid-column-end: -1;
        max-width: none;
    }

    .subs {
        display: grid;
        grid-template-columns: auto 72px;
    }
    
    .subscribe__input {
        width: 100%;
    }
}


@media (max-width: 1220px) {
    .form {
        width: auto;
        height: auto;

        

        &__input--activity {
            width: 180px;
        }

        &__input--date {
            width: 200px;
        }

        &__input--guests {
            width: 140px;
        }

        
    }

    
    
    .main {
        row-gap: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section__header {
        margin-bottom: 34px;
    }

    .section__cards--dest {
        grid-template-columns: repeat(3, 1fr);
    }

    .section__cards--hotels {
        grid-template-columns: repeat(2, 1fr);
    }

    .section__title {
        font-size: 26px;
    }

    .card__img {
        width: 100%;
    }
}


@media (max-width: 1432px) {
    .nav {
        column-gap: 70px;
    }
}

@media (max-width: 640px) {
    .section__cards--dest {
        grid-template-columns: repeat(2, 1fr);
    }

    .section__cards--hotels {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-us {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 440px) {
    .section__cards--dest {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 400px) {
    .footer__nav-wrapper {
        gap:32px;
    }
}



